
  <body>

<div class="row">
    <div class="col-sm-4">
        <h2> Education </h2>
        </div>
        <div class="col-sm-4">
          <h2> Department </h2> 
        </div> 
         <div class="col-sm-4">
           <h2> Skills: </h2>
        </div> 

    <div class="col-sm-4">
    <h3>
      UCV Master
    </h3>
      2012-2014
    </div>
    <div class="col-sm-4">
       Accounting | Craiova
    </div> 
     <div class="col-sm-4">
          <ul>
            <li>Ability to use tools, methods and techniques derived from econometrics;</li>
            </ul>
        
    </div> 
    

 <div class="col-sm-4">
   <h3>
     UCV Faculty 
    </h3>  
   2009 - 2012 
 </div>
  <div class="col-sm-4">
      Faculty of Economics and Business Administration | Craiova
      </div>
      <div class="col-sm-4">
          <ul>
              <li>Ability to use the IT equipment for specialized financial and banking projects.</li>
            </ul>
       </div> 

       <div class="col-sm-4">
    <h3>
      High School
    </h3>
      2012-2014
    </div>
    <div class="col-sm-4">
        Mathematics and Computer Science| Filiasi
    </div> 
    <div class="col-sm-4">
      <ul>
        <li>Financial and banking vocabulary</li>
        </ul>
        
     </div>  
      </div> 

      <div class="container-fluid bg-1 text-center">
          <i routerLink="/portofolio" class="fa fa-arrow-circle-down" style="font-size:48px;color:red;"></i>
      </div>
   </body>



