<body style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ4_OC9Ia-uDYydaCXcS5gbPBGaQKrLHSlJokkF4P6svl8Q83NW');">
<h2> Experience</h2>
  <div class="row">

          <div id="job1" class="col-sm-4">
          <h3>
            Economist
          </h3>
            January 2017-current<br>
            Craiova
          
          </div>
          <div class="col-sm-4">
              <h4>Knowledge Gained from Work Experience:</h4>
             

          </div> 
          <div class="col-sm-4">
              <h4> Programs: </h4>
              <ul>
                 
                  
                 </ul>

          </div> 
       <div id="job2" class="col-sm-4 ">
         <h3>
           Exchange cashier 
          </h3>  
         May 2016 - January 2017 <br/>
         Craiova
       </div>
        <div class="col-sm-4">
            <!-- Skills Gained from Work Experience: -->
          <ul>
            <li> Banking activities </li>
            <li> Analytical skills </li>
                  <li> Math skills</li> 
                  <li> Writing skills </li>
           </ul>
            </div>
            <div class="col-sm-4">
                <!-- Programs: -->
                <ul>
                    <li> Exchange Pos </li>
                    <li> Microsoft Office</li> 
                    <li> Exchange Online-Data Gram </li>
                    <li> Raducanoiu </li>
                    <li> Petrescu</li> 
                   </ul>
  
            </div> 
            <div id="job2" class="col-sm-4 ">
                <h3>
                  Sous chef 
                 </h3>  
                June 2013 - May 2017 <br/>
                Spain
              </div>
               <div class="col-sm-4">
                   <!-- Skills Gained from Work Experience: -->
                 <ul>
                   <li>  </li>
                   <li> </li> 
                   <li>  </li>
                  </ul>
                   </div>
                   <div class="col-sm-4">
                       <!-- Programs: -->
                       <!-- <ul>
                           <li> Exchange Pos </li>
                           <li> Microsoft Office</li> 
                           <li> Exchange Online-Data Gram </li>
                          </ul> -->
         
                   </div> 
            </div> 
            <div class="container-fluid bg-1 text-center">
                <i routerLink="/education" class="fa fa-arrow-circle-down" style="font-size:48px;color:red;"></i>
            </div>
</body>