<div id ="experience">
<h2> Experience</h2>
<img src="assets\images\job.jpg" alt="..."/>

<div class="container">

  <div class="row first-row">
    <div class="col-lg-4 col-animation">
      <p class="bold">Job</p>
    </div>

    <div class="col-lg-4  col-animation">
      <p class="bold">Knowledge Gained From work Experience</p>
    </div>

    <div class="col-lg-4  col-animation">
        <p class="bold">Programs</p>
      </div>

    </div>

    <div class="row second-row">

        <div class="col-lg-4  col-animation">
            <p class="bold">Economist</p> 
            <p>January 2017-current</p>
        </div>

        <div class="col-lg-4  col-animation">
          <ul>
              <li>Analytical skills</li>
              <li>Communication skills</li>   
              <li>Detail oriented</li>
              <li>Math skills</li>
              <li>Writing skills</li>
          </ul>
          
        </div>

        <div class="col-lg-4  col-animation">
            <ul>
            <li>Raducanoiu</li>
            <li>Petrescu</li>
          </ul>

        </div>
        </div>

        <div class="row third-row">

            <div class="col-lg-4  col-animation">
                <p class="bold">Exchange cashier</p>
                <p>May 2016-January 2017</p>
            </div>

            <div class="col-lg-4  col-animation">
              <ul>
                  <li>Banking activities</li>
                  <li>Analytical skills</li>
                  <li>Math skills</li>
              </ul>
            </div>

            <div class="col-lg-4  col-animation">
                <ul>
                    <li>Exchange POS</li>
                    <li>Exchange Online Data Gram</li>
                  </ul>
            </div>
            </div>

          <div class="row">
                <div class="col-lg-4  col-animation">
                  <p class="bold">Sous chef</p>
                  <p>June 2013- May 2017</p>
                  <p>Spain</p>
            
                </div>
                <div class="col-lg-4  col-animation">
                  <ul>
                    <li>
                      Spanish Language
                    </li>
                  </ul>              
                </div>
                <div class="col-lg-4  col-animation">

                </div>
                </div>
              </div>
              <img src="assets\images\internship.jpg" alt="..."/>
              <!-- <hr/> -->
              <!-- Internship -->
               <div class="container">

                <!-- <div class="row">
                    <div class="col-lg-4 ">
                      <p class="bold">Internship</p>
        
                    </div>
                    <div class="col-lg-4">
                     <p class="bold">Knowledge Gained from Internship Experience</p>
                    </div>

                    <div class="col-lg-4">

                    </div>

                    
                    </div>  -->
                    <div class="row">
                        <div class="col-lg-4">
                          <p class="bold">Internship Scoala Informala de It</p>
                    
                        </div>
                        <div class="col-lg-4">
                            <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Javascript</li>
                                <li>Sass</li>
                                <li>Bootstrap</li>
                                <li>Angular</li>
                              </ul>
                    
                        </div>

                        <div class="col-lg-4">
                      
                          </div>
                        
                        </div>   
                        <div class="row">
                            <div class="col-lg-4">
                              <p class="bold">Internship OSF Global Services</p>
                            </div>
                            <div class="col-lg-4">
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript</li>
                                    <li>Sass</li>
                                    <li>Bootstrap</li>
                                    <li>Angular</li>
                                    <li>Photoshop</li>
                                  </ul>
                        </div>

                        <div class="col-lg-4">
                          
                      
                          </div>
                      </div>  
               </div>
              