
<div class="container-fluid">
  <h4> MY PROJECTS </h4>
  <nav class="flex justify-center">
      <button type="button" (mouseover)= "showDetails1()" (mouseout)="hideDetails1()" class="btn btn-info">Google Maps</button>
      <button type="button" (mouseover)= "showDetails2()" (mouseout)="hideDetails2()" class="btn btn-warning">Osf Project</button>
      <button type="button" (mouseover)= "showDetails3()" (mouseout)="hideDetails3()" class="btn btn-danger">Moto Blog</button>
    </nav>
  
  <div class="container">
    <div class="row">
      <div class=" col-xs-4 col-lg-4">
        <div class="card front-image" style="width:300px">
            <img id="osf" class="card-img-bottom"  [src]="sourceMap" alt="Card image" style="width:100%">
            <i class="fa fa-angle-right"  (click)="nextImage1()"></i>
            <div class="overlay" *ngIf="!changeContent1">
              <div class="info">
                <ul>
                <h6>Technologies used to build this website:</h6>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>Angular</li>
                  <li>Bootstrap</li>
                </ul>
              </div>
            </div>
          </div>
          
          </div>

          <div class=" col-xs-4  col-lg-4">

              <div class="card" style="width:300px">
                  <img class="card-img-bottom" [src]="sourceOsf" alt="Card image" style="width:100%">
                  <i class="fa fa-angle-right"  (click)="nextImage2()"></i>
                  <div class="overlay" *ngIf="!changeContent2">
                    <div class="info">
                      <ul>
                        <h6>Technologies used to build this website:</h6>
                        <li>HTML</li>
                        <li>SASS</li>
                        <li>Typescript</li>
                        <li>Angular</li>
                        <li>Jquery</li>
                        <li>Bootstrap</li>
                      </ul>
                    </div>
                  </div>
                </div>
                </div>

                <div class=" col-xs-4 col-lg-4">

                    <div class="card" style="width:300px">
                        <img class="card-img-bottom"  [src]="sourceBlog" alt="Card image" style="width:100%">
                        <i class="fa fa-angle-right"  (click)="nextImage3()"></i>
                        <div class="overlay" *ngIf="!changeContent3">
                          <div class="info">
                            <ul>
                              <h6>Technologies used to build this website:</h6>
                              <li>HTML</li>
                              <li>CSS</li>
                              <li>Javascript</li>
                              <li>Jquery</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      </div>
       
     
                  </div>
                