<div id="contact">
  
<form  action="mailto:luizanicola32@gmail.com" >
  <div id ="content">
  <div class="form-group">
    <input type="email" #email class="form-control" id="email" placeholder="Enter email" name="email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
  </div>
  <div class="form-group">
  <textarea #textarea class="form-control" id="textarea" rows="3">Message </textarea>
  </div>
  <button type="submit" (click)="onSubmit(email.value,textarea.value)" class="btn btn-primary">Submit</button>
  </div>
</form>

<div class="container-fluid bg-1 text-center">
<ul class="list-inline py-2">
    <li class="list-inline-item"><a href="https://www.facebook.com/"class="p-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a></li>
    <li class="list-inline-item"><a href="#"class="p-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a></li>
    <li class="list-inline-item"><a href="mailto:luizanicola32@gmail.com"class="p-2 fa-lg gplus-ic"><i class="fab fa-google-plus-g"></i></a></li>
    <li class="list-inline-item"><a href=""class="p-2 fa-lg gplus-ic"><i class="fab fa-instagram"> </i></a></li>
  </ul>
 </div>
 <div class="container-fluid bg-1 text-center">
    <i routerLink="/profile" class="fa fa-arrow-circle-up" style="font-size:48px;color:black;"></i>
</div>
</div>
