#contact {
    margin-top: 60px;
}
input {
    width: 300px;
    background: lightskyblue;

}
form {
    border: 2px solid #1abc9c;
    border-radius: 50%;
    background: #1abc9c;
    width: 500px;
    height: 400px;
    margin-left:440px;
    margin-top: 40px;
}
 #content {
     margin-left: 100px;
     margin-top: 120px;
 }

 textarea {
     width: 300px;
     background: lightskyblue;
 }

button {
    color: white;
    background: black;
    border-radius: 30px;
    margin-left: 110px;
    border: 1px solid transparent;
}
.fa-facebook-f {
    color: blue;
}
.fa-google-plus-g {
    color: red;
}
.fa-instagram{
    color: darkblue;
}
.error{
    border: 2px solid red;
}
