.container-fluid {
  background: white;
}
header{
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.container-fluid {
  height: auto;
}
.col-lg-3 {
  height: auto;
  background: lightsalmon;
  text-align: center;
  display: inline-block;
  font-family: "Comic Sans MS", cursive, sans-serif;
} 
 img {
   margin-top: 40px;
   width: 250px;
   height: 250px;
   border-radius: 50%;
} 
 .my-image {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
} 

 .my-image:hover {
  transform: rotateY(180deg);
}

.front-image, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  text-align: left;
  padding-left: 30px;
} 
.info {
  list-style-type: none;
  margin-top: 10px;
}
h6 {
  margin-top: 60px;
  text-align: center;
}

 h4 {
  margin-top: 30px;
  text-align: left;
  text-transform: uppercase;
 } 
.social {
   color: green;
   text-align : left;
   padding-left: 0px;
 }
 .social-icon{
   display: block;
   margin-top:20px;
 } 
 .fa-facebook-f {
  color: blue;
}
.fa-google-plus-g {
  color: red;
}
.fa-instagram{
  color: darkblue;
}
.fa-phone {
  color: black;
}
span {
  font-size: 15px;
  margin-left: 10px;
  color: black;
}
a{
  text-decoration: none;
}
.progress {
  margin-top: 10px;
  margin-left: 35px;
  width: 200px;

} 
 #skills,#languages,#interest {
  padding-left: 0px;
  text-align: left;
 
}
.html,.languages,.interest{
  margin-top: 3px;
  list-style-type: none;
  margin-left: 0px;
  display: block;
}
.checked {
  color: orange;
}

.col-lg-9 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-top: 2px solid lightsalmon;
  border-right: 2px solid lightsalmon;
  display: inline-block;
}
header {
  text-align: center;
  font-size: 20px;
  height: 100px;
  border-bottom: 2px solid lightsalmon;
}
#aspiration {
  margin-top : 40px;
}
.aspiration {
  list-style-type: none;
}
.experience {
  background: lightsalmon;
  border: 2px solid lightsalmon;
}
.col-lg-4 {
  border-right: 1px solid lightsalmon;
  padding-top: 20px;
}
.col-lg-8 {
  padding-top: 20px;
}
h5 {
  font-weight: 600;
}
.btn {
  margin-left: 200px;
  margin-right: 500px;
  
}
.displayNone{
  display: none;
}
.modal-header,.modal-footer {
  border: none;
}
#modal-button{
  color: white;
  background: rgb(35, 226, 35);
  width: 120px;
  border-radius: 30px;
  margin-left: 50%;
  margin-right: 50%;
  transform:translate(-50%,-50%);
}
@media only screen and (max-width: 320px) {
  header {
    font-size: 10px; 
  }
  h4,h5 {
    font-size: 14px;
  }
  
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  header {
    font-size: 12px; 
  }
  h4,h5 {
    font-size: 16px;
  }
}
