
 <div class="container-fluid">
   <div class="row">
     <div class="col-lg-3">
       <div class="my-image text-center">
       <div class="front-image">
        <img *ngFor="let me of detail" [src]="me.image.profile"  alt="...">
        </div>
        <div class="back">
            <h6> Details: </h6>
            <hr>
            <ul *ngFor="let me of detail">
              <li class="info"> Name: {{me.name}} </li> 
              <li class="info"> Birth: {{me.birth}} </li> 
              <li class="info"> Location: {{me.location}} </li> 
            </ul>
          </div>
      </div>

        <h4> Contact </h4>
        <hr>
        <ul class="social">
            <li class="social-icon"><a href="0761568187"class="p-2 fa-lg gplus-ic"><i class='fas fa-phone'></i><span>076156...</span></a></li>
            <li class="social-icon"><a href="https://www.facebook.com/" class="p-2 fa-lg fb-ic"><i class="fab fa-facebook-f" ></i><span>https://www.facebook.com/</span></a></li>
            <li class="social-icon"><a href="https://twitter.com/" class="p-2 fa-lg tw-ic"><i class="fab fa-twitter" ></i><span>https://twitter.com/</span></a></li>
            <li class="social-icon"><a href="mailto:luizanicola32@gmail.com" class="p-2 fa-lg gplus-ic"><i class="fab fa-google-plus-g" ><span>luizanicola32@gmail.com</span></i></a></li>
            <li class="social-icon"><a href=""class="p-2 fa-lg gplus-ic"><i class="fab fa-instagram"></i><span>https://www.instagram.com/</span></a></li>
        </ul>

        <h4> Skills</h4>
        <hr>
       <div class="row">
         <div class="col-xs-2 col-lg-2">
           <ul id="skills">
             <li class="html">HTML</li>
             <li class="html">CSS</li>
             <li class="html">Javascript</li>
             <li class="html">jQuery</li>
             <li class="html">Angular</li>
             <li class="html">Bootstrap</li>
             <li class="html">Sass</li>
           </ul>
         </div>
         <div class="col-xs-10 col-lg-10">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">85%</div>
              </div>
              <div class="progress">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
                  </div>
                  <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">40%</div>
                      </div>
                      <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
                          </div>
         </div>
       </div>

       <h4>Languages</h4>
       <hr>
       <ul id="languages">
         <li class="languages">English
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
         </li>
         <li class="languages">Spanish
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
         </li>
       </ul>

       <h4> Interest </h4>
       <hr>
       <ul id="interest">
         <li class="interest"><i class="fa fa-desktop"></i> Web Development </li>
         <li class="interest"><i class='fas fa-motorcycle'></i> Motorcycle </li>
         <li class="interest"><i class='fas fa-globe-africa'></i> Traveling </li>
       </ul>        
     </div>
    <!-- </col-lg-3> -->

     <div class="col-xs-9 col-lg-9">
        <header>
            <ul id="aspiration" *ngFor="let me of detail">
                <li class="aspiration"> {{me.aspiration}}</li>
                <li class="aspiration"> {{me.hobby}}</li>
            </ul>
           </header> 
           <h4 class="experience"> Work experience</h4>
           <div class=" row job1">
             <div class="col-xs-4 col-lg-4">
               Jan 2017-Current<br/>Craiova

             </div>
             <div class="col-xs-4 col-lg-8">
               <h5>Economist</h5>
               <ul>
                  <li>Analytical skills</li>
                  <li>Communication skills</li>   
                  <li>Detail oriented</li>
                  <li>Math skills</li>
                  <li>Writing skills</li>
               </ul>
             </div>   
           </div>

           <div class="row job2">
             <div class="col-xs-4 col-lg-4">
                May 2016-January 2017<br/>Craiova
             </div>
             <div class="col-xs-8 col-lg-8">
                <h5>Exchange cashier</h5>
                <ul>
                    <li>Banking activities</li>
                    <li>Analytical skills</li>
                    <li>Math skills</li>
                </ul>
             </div>
           </div>
           <!-- see more jobs -->
           <div class="row job3">
             <div class="col-xs-12 col-lg-12">
              <marquee behavior="alternate"> <button class="btn btn-info" *ngIf="!moreJobs" (click)="seeMoreJobs()">
                 See more 
                </button>
                </marquee>
             </div>
             
             <div class="col-xs-4 col-lg-4" *ngIf="moreJobs">
               June 2013- May 2017<br/>Spain
              </div>
              <div class="col-xs-8 col-lg-8" *ngIf="moreJobs">
                <h5>Sous chef </h5>
              </div>
            </div>

           <h4 class="experience"> Internship</h4>
           <div class=" row job1">
             <div class="col-xs-4 col-lg-4">
                Informal School of IT<br/>
                Jan 2019- Sept 2019
              </div>

               <div class="col-xs-8 col-lg-8">
                  <ul>
                      <li>HTML</li>
                      <li>CSS</li>
                      <li>Javascript</li>
                      <li>Sass</li>
                      <li>Bootstrap</li>
                      <li>Angular</li>
                    </ul>
               </div>

               <div class="col-xs-4 col-lg-4">
                  Osf Global Services<br/>
                  Sept 2019 - Oct 2019
                 </div>
  
                 <div class="col-xs-8 col-lg-8">
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                        <li>Sass</li>
                        <li>Bootstrap</li>
                      </ul>
                 </div>
               </div>

               <!-- see more internships -->
               <div class="row job3">
                  <div class="col-xs-12 col-lg-12">
                   <marquee behavior="alternate"> <button class="btn btn-info" *ngIf="!moreInternships" (click)="seeMoreInternships()">
                      See more 
                     </button>
                     </marquee>
                  </div>
                  
                  <div class="col-xs-4 col-lg-4" *ngIf="moreInternships">
                    2012<br/>Craiova
                   </div>
                   <div class="col-xs-8 col-lg-8" *ngIf="moreInternships">
                     <h5> Receptionist Hostel </h5>
                   </div>
                 </div>

               <h4 class="experience"> Education</h4>
               <div class="row">
                 <div class="col-xs-4 col-lg-4">
                    2012-2014<br/>UCV
                  </div>
                 <div class="col-xs-8 col-lg-8">
                    <h5>Accounting</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4 col-lg-4">
                    2009 - 2012<br/>UCV 
                  </div>
                  <div class="col-xs-8 col-lg-8">
                    <h5>Faculty of Economics and Business Administration</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4 col-lg-4">
                    2008-2012<br/>
                  </div>
                  <div class="col-xs-8 col-lg-8">
                    <h5> Mathematics and Computer Science</h5>
                  </div>
                </div>
          
                      </div>
                      
          